*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: block;
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 600px;
}
.fix{
    position: absolute;
}
